DB_PORT=5432 #always 5432 for postgres
DB_NAME=database1name #the name of the database you want to replicate from
DB_USER=database1user #the username for the source database
DB_PASSWORD=database1password #the password for the source database

TARGET_DB_PORT=5432 #always 5432 for postgres
TARGET_DB_NAME=database2name #the name of the database you want to replicate to (it will be created if it doesn't exist)
TARGET_DB_USER=database2user #the username for the target database (it will be created if it doesn't exist)
TARGET_DB_PASSWORD=database2password #the password for the target database (it will be created if it doesn't exist)

API_KEY=your_api_key_here #replace with your actual API key for authentication (sha256 or sha512 hash of a random string)